AWS_ACCESS_KEY_ID=<your aws access key>   required
AWS_SECRET_ACCESS_KEY=<your secret>       required
EC2_KEY_NAME=hackernews-ec2              optional
ITEM=XXX                                  required
INSTANCES_PER_REGION=1                    optional, default=1
MINUTES_TO_WAIT_BEFORE_TERMINATE_INSTANCES=2